body {
    font-family: sans-serif;
    margin: 0;
}

.buttonlink a{
    font-size: 16px;
    color: white;
    background-color: #036;
    padding: 20px 20px;
    text-decoration: none;
}

table a, input[type=submit], button{
    font-size: 16px;
    color: black;
    background-color: gainsboro;
    padding: 4px 4px 4px 4px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-decoration: none;
}


.nolongerconsidered {
    font-size: 16px;
    color: gray;
    text-decoration: line-through;
}

table, th, td {
  border: 1px solid black;
  line-height:30px
}

.navbar {
    overflow: hidden;
    background-color: #036;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #9cf;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #666;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    background-color: inherit;
}

.subnav-content a:hover {
    background-color: ivory;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}