<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body style="background-color: gainsboro; text-align: center;">

    <form th:action="@{/registration/login}" method="POST" class="form-signin" style="float: center;">
        <h1>Please sign in</h1>
        <input type="text" id="username" name="username" placeholder="Username">
        <br/>
        <br/>
        <input type="password" id="password" name="password" placeholder="Password"/>
        <br/>
        <br/>
        <input type="submit" value="Sign in" style="color: white; background-color: dodgerblue;">
    </form>

    <br/>
    <p style="color:red;" th:if="${param.error}">Username or password is incorrect!</p>
    <br/>
    New to Gabiri? <a href="/registration"><b>Sign up</b></a>

</body>
</html>