<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
</head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>

<div th:if="${applicantsList.size()} > 0">
<h1>Current Applicants:</h1>
<table>
    <tr>
        <th></th>
        <th>Applicant ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Cell Phone</th>
        <th>Work Phone</th>
        <th>Home Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>State or Provence</th>
    </tr>
    <tr th:each="applicant: ${applicantsList}">

        <td>
            <form th:action="@{/hiring/applicants}" th:method="post">
                <input type="hidden" name="applicantId" th:value="${applicant.applicantId}">
                <input type="submit" value="see profile">
            </form>
        </td>

        <td th:text = "${applicant.applicantId}"></td>
        <td th:text = "${applicant.firstName}"></td>
        <td th:text = "${applicant.lastName}"></td>
        <td th:text="${applicant.cellPhone}"></td>
        <td th:text="${applicant.workPhone}"></td>
        <td th:text="${applicant.homePhone}"></td>
        <td th:text="${applicant.address}"></td>
        <td th:text="${applicant.city}"></td>
        <td th:text="${applicant.stateOrProvence}"></td>
    </tr>
</table>
</div>

<h1 th:unless="${applicantsList.size()} > 0">No Current Applicants!</h1>

<br/>
<br/>
<br/>

<a href = "/hiring/newapplicant">Click Here to Enter a New Applicant!</a>

</body>
</html>