<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
</head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>

<h1>Current Applicants:</h1>
<table>
    <tr>
        <th>Applicant ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="applicant: ${applicantsList}">
        <td th:text = "${applicant.applicantId}"></td>
        <td th:text = "${applicant.firstName}"></td>
        <td th:text = "${applicant.lastName}"></td>
    </tr>
</table>

</body>
</html>