<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>

<h1 th:text="|Select one or more applicants,
     then click O.K. to add them to consideration for job ${idList.id}|"></h1>

<!-- The following form takes in an object of the type "IdList" and fills up idList.idList
(which is of type ArrayList<Integer>) with the applicants that the user wishes to add for consideration to the open
position. It also takes the position ID (which is stored in idList.id, which is of type int) and re-enters it into that
same location, so it stays stored there when the form is submitted. The fact that idList contains both the position ID
and the list of applicant IDs models the many-to-one relationship of applicants to positions. -->
<div th:if="${applicantsNotYetConsidered.size()} > 0">
<form th:action="@{/addapplicanttoposition}" th:object="${idList}" method="post">

<table>
    <tr>
        <th></th>
        <th>Applicant ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Cell Phone</th>
        <th>Work Phone</th>
        <th>Home Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>State or Provence</th>
        <th></th>
    </tr>
    <tr th:each="applicant:${applicantsNotYetConsidered}">
        <td>
            <input type="checkbox" th:value="${applicant.applicantId}" th:field="${idList.idList}"/>
        </td>
        <td th:text="${applicant.applicantId}"></td>
        <td th:text="${applicant.firstName}"></td>
        <td th:text="${applicant.lastName}"></td>
        <td th:text="${applicant.cellPhone}"></td>
        <td th:text="${applicant.workPhone}"></td>
        <td th:text="${applicant.homePhone}"></td>
        <td th:text="${applicant.address}"></td>
        <td th:text="${applicant.city}"></td>
        <td th:text="${applicant.stateOrProvence}"></td>
        <td><a th:href="@{'/viewapplicant/' + ${applicant.applicantId}}">See Applicant Profile</a></td>
    </tr>
</table>
    <br/>
    <br/>

    <label for="dateApplied">
        Date these applicants first applied to / were considered for this position:
    </label>

    <br/>

    <input type="date" id="dateApplied" name="dateApplied" required/>

    <br/>
    <br/>

    <input type="hidden" th:value="${idList.id}" th:field="${idList.id}"/>
    <input type="submit" value="O.K."/>

</form>
</div>
<h1 th:unless="${applicantsNotYetConsidered.size()} > 0">No Available Applicants!</h1>

</body>
</html>