<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
</head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>


<h1>Enter a New Applicant!</h1>

<form th:action="@{/hiring/newapplicant}" method="post" enctype="multipart/form-data">

    <label for="firstName">First Name</label>
    <input id = "firstName" type="text" maxlength="20" name="firstName"/>

    <br/>

    <label for="lastName">Last Name</label>
    <input id = "lastName" type="text" maxlength="30" name="lastName"/>

    <br/>
    <br/>

    <label for="files">Upload Resume and other Relevant Files (max 256 KB)</label>

    <br/>

    <input id = "files" type="file" name="files" multiple/>

    <br/>

    <input type="submit"/>

</form>

</body>
</html>