<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
</head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>

<h1>Add an Open Position!</h1>

<form  th:action="@{/newopenposition}" th:object="${position}" method = "post">
    <label>Position Title *</label>
    <input type = "text"  maxlength = "45" th:field="${position.positionTitle}" required/>

    <br/>

    <fieldset id="group1">
        <legend>Employment Type *</legend>

        <label>Full Time Salaried</label>
        <input type="radio" value="1" name="group1" required th:field="${position.employmentType}"
               onclick="document.getElementById('maxSalary').disabled = false;
               document.getElementById('maxWage').disabled = true;"/>
        <br/>

        <label>Full Time Wage-Based</label>
        <input type="radio" value="2" name="group1" th:field="${position.employmentType}"
               onclick="document.getElementById('maxSalary').disabled = true;
               document.getElementById('maxWage').disabled = false;"/>
        <br/>

        <label>Part Time Wage-Based</label>
        <input type="radio" value="3" name="group1" th:field="${position.employmentType}"
               onclick="document.getElementById('maxSalary').disabled = true;
               document.getElementById('maxWage').disabled = false;"/>
        <br/>

        <label>Independent Contractor</label>
        <input type="radio" value="4" name="group1" th:field="${position.employmentType}"
               onclick="document.getElementById('maxSalary').disabled = true;
               document.getElementById('maxWage').disabled = false;"/>
        <br/>

        <label>Freelancer</label>
        <input type="radio" value="5" name="group1" th:field="${position.employmentType}"
               onclick="document.getElementById('maxSalary').disabled = true;
               document.getElementById('maxWage').disabled = false;"/>
        <br/>

        <label>Other</label>
        <input type="radio" value="6" name="group1" th:field="${position.employmentType}"
               onclick="document.getElementById('maxSalary').disabled = true;
               document.getElementById('maxWage').disabled = true;"/>
        <br/>

    </fieldset>

    <br/>

    <label>Max Salary</label>
    <input id="maxSalary" type = "number" min="0" max="16777215" th:field="${position.maxSalary}" disabled/>

    <br/>
    <label>Max Wage</label>
    <input id="maxWage" type = "number" min="0"  max="999.99", step = ".01" pattern="[^e]+"
           th:field="${position.maxWage}" disabled/>

    <br/>

    <label>City</label>
    <input type = "text" maxlength = "20" th:field="${position.city}"/>

    <br/>

    <label>State or Provence (Two-Letter Abbreviation)</label>
    <input type = "text"  maxlength = "2" pattern="[A-Za-z]{2}" th:field="${position.stateOrProvence}"/>

    <br/>

    <label>Start Date *</label>
    <input type = "date" th:field="${position.startDate}" required/>

    <br/>

    <input type = "submit"/>

</form>

<p>* asterisks indicate required fields.</p>
</body>
</html>