<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>

<div th:if="${positionsList.size()}>0">
    <h1>Currently Open Positions:</h1>

    <table>
        <tr>
            <th></th>
            <th>Position ID</th>
            <th>Position Title</th>
            <th>Max Salary</th>
            <th>Max Wage</th>
            <th>City</th>
            <th>State or Provence</th>
            <th>Employment Type</th>
            <th>Start Date</th>
        </tr>
        <tr th:each="position: ${positionsList}">

            <td><a th:href="@{'/viewposition/' + ${position.positionId}}">see applicants</a></td>

            <td th:text = "${position.positionId}"></td>
            <td th:text = "${position.positionTitle}"></td>
            <td th:text = "${position.maxSalary}"></td>
            <td th:text = "${position.maxWage}"></td>
            <td th:text = "${position.city}"></td>
            <td th:text = "${position.stateOrProvence}"></td>
            <td th:text = "${position.employmentTypeAsString()}"></td>
            <td th:text = "${position.startDate}"></td>
        </tr>
    </table>
</div>


<h2 th:unless="${positionsList.size()}>0">No currently open positions!</h2>

<br/>
<br/>
<br/>

<div class="paddedlink">
    <a href = "/newopenposition">Click Here to Create a New Open Position!</a>
</div>

</body>
</html>