<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>

<br/>
<br/>
<br/>

<table>
    <tr>
        <th>Applicant ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Cell Phone</th>
        <th>Work Phone</th>
        <th>Home Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>State or Provence</th>
    </tr>
    <tr>
        <td th:text="${applicant.applicantId}"></td>
        <td th:text="${applicant.firstName}"></td>
        <td th:text="${applicant.lastName}"></td>
        <td th:text="${applicant.cellPhone}"></td>
        <td th:text="${applicant.workPhone}"></td>
        <td th:text="${applicant.homePhone}"></td>
        <td th:text="${applicant.address}"></td>
        <td th:text="${applicant.city}"></td>
        <td th:text="${applicant.stateOrProvence}"></td>
    </tr>
</table>

<br/>
<br/>

<div th:if="${documentIdsAndNames.size()}>0">
    <h1 th:text="|Documents associated with ${applicant.firstName} ${applicant.lastName}|"></h1>
    <table>
        <tr>
            <th>Document ID</th>
            <th>Document Filename</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="document : ${documentIdsAndNames}">

            <!--documentIdsAndNames is a list of arrays. the 0th element in each is the document ID. The 1st is the filename.-->

            <td th:text="${document[0]}"></td>
            <td th:text="${document[1]}"></td>

            <td>
                <form th:action="@{/downloaddocument}" method="post">
                    <input type="hidden" th:value="${document[0]}" name="documentId"/>
                    <input type="submit" value="download" />
                </form>
            </td>

            <td>
                <form th:action="@{/deletedocument}" method="post"
                      onsubmit="return confirm('Do you really want to delete this document? ' +
                  'There is no way to undo this.');">
                    <input type="hidden" th:value="${document[0]}" name="documentId"/>
                    <input type="hidden" th:value="${applicant.applicantId}" name="applicantId"/>
                    <input type="submit" value="delete" />
                </form>
            </td>

        </tr>
    </table>
</div>

<br/>


<fieldset>
    <legend th:text="|Upload files relating to ${applicant.firstName} ${applicant.lastName}|"></legend>
    <form th:action="@{/uploaddocuments}" enctype="multipart/form-data" method="post">
        <input type="hidden" name="applicantId" th:value="${applicant.applicantId}">
        <label for="files">(max 256 KB)</label>
        <br/>
        <br/>
        <input id="files" type="file" name="files" multiple>
        <br/>
        <br/>
        <input type="submit">
    </form>
</fieldset>

<br/>
<br/>

<div th:if="${positionApplicationHashMap.size()}>0">
    <h1 th:text="|${applicant.firstName} has applied to the following open positions:|"></h1>

    <table>
        <tr>
            <th>Position ID</th>
            <th>Position Title</th>
            <th>Max Salary</th>
            <th>Max Wage</th>
            <th>City</th>
            <th>State or Provence</th>
            <th>Employment Type</th>
            <th>Start Date</th>
            <th>Date Applied</th>
            <th>Application Status</th>
            <th></th>
        </tr>
        <tr th:each="instance: ${positionApplicationHashMap}">


            <td th:text = "${instance.key.positionId}"></td>
            <td th:text = "${instance.key.positionTitle}"></td>
            <td th:text = "${instance.key.maxSalary}"></td>
            <td th:text = "${instance.key.maxWage}"></td>
            <td th:text = "${instance.key.city}"></td>
            <td th:text = "${instance.key.stateOrProvence}"></td>
            <td th:text = "${instance.key.employmentTypeAsString()}"></td>
            <td th:text = "${instance.key.startDate}"></td>
            <td th:text = "${instance.value.dateApplied}"></td>
            <td th:text = "${instance.value.statusAsString()}"></td>
            <td><a th:href="@{'/viewposition/' + ${instance.key.positionId}}">Other Applicants</a></td>
        </tr>
    </table>
</div>

<h1 th:unless="${positionApplicationHashMap.size()}>0"
    th:text="|${applicant.firstName} has not applied to any positions that are currently open.|"></h1>

<br/>
<br/>
<div class="buttonlink">
<a th:href="@{'/considernewpositions/' + ${applicant.applicantId}}">Consider this person for an open position!</a>
</div>

<br/>
<br/>
<br/>

<form onsubmit="return confirm('Do you really want to delete this applicant? There is no way to undo this, ' +
'and this will delete records of any positions that this applicant has been hired for, ' +
'as well as any documents associated with this applicant.');"
      th:action="@{/deleteapplicant}" method="post" >
    <input type="hidden" name="applicantId" th:value="${applicant.applicantId}">
    <input type="submit" value="Delete this applicant"/>
</form>

</body>
</html>