<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>


<div th:if="${positionsList.size()}>0">
    <h1 th:text="|${applicant.firstName} has applied to the following open positions:|"></h1>

    <table>
        <tr>
            <th></th>
            <th>Position ID</th>
            <th>Position Title</th>
            <th>Max Salary</th>
            <th>Max Wage</th>
            <th>City</th>
            <th>State or Provence</th>
            <th>Employment Type</th>
            <th>Start Date</th>
        </tr>
        <tr th:each="position: ${positionsList}">

            <td></td>
            <td th:text = "${position.positionId}"></td>
            <td th:text = "${position.positionTitle}"></td>
            <td th:text = "${position.maxSalary}"></td>
            <td th:text = "${position.maxWage}"></td>
            <td th:text = "${position.city}"></td>
            <td th:text = "${position.stateOrProvence}"></td>
            <td th:text = "${position.employmentType}"></td>
            <td th:text = "${position.startDate}"></td>
        </tr>
    </table>
</div>

<h1 th:unless="${positionsList.size()}>0"
    th:text="|${applicant.firstName} has not applied to any positions that are currently open.|"></h1>

<div th:if="${documentIdsAndNames.size()}>0">
    <h1 th:text="|Documents associated with ${applicant.firstName} ${applicant.lastName}|"></h1>
<table>
    <tr>
        <th>Document ID</th>
        <th>Document Filename</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="document : ${documentIdsAndNames}">

<!--documentIdsAndNames is a list of arrays. the 0th element in each is the document ID. The 1st is the filename.-->

        <td th:text="${document[0]}"></td>
        <td th:text="${document[1]}"></td>

        <td>
            <form th:action="@{/hiring/downloaddocument}" method="post">
            <input type="hidden" th:value="${document[0]}" name="documentId"/>
            <input type="submit" value="download" />
            </form>
        </td>

        <td>
            <form th:action="@{/hiring/deletedocument}" method="post"
                  onsubmit="return confirm('Do you really want to delete this document? ' +
                  'There is no way to undo this.');">
                <input type="hidden" th:value="${document[0]}" name="documentId"/>
                <input type="hidden" th:value="${applicant.applicantId}" name="applicantId"/>
                <input type="submit" value="delete" />
            </form>
        </td>

    </tr>
</table>
</div>

<br/>
<br/>
<br/>

<fieldset>
    <legend th:text="|Upload files relating to ${applicant.firstName} ${applicant.lastName}|"></legend>
    <form th:action="@{/hiring/uploaddocuments}" enctype="multipart/form-data" method="post">
        <input type="hidden" name="applicantId" th:value="${applicant.applicantId}">
        <label for="files">(max 256 KB)</label>
        <br/>
        <br/>
        <input id="files" type="file" name="files" multiple>
        <br/>
        <br/>
        <input type="submit">
    </form>
</fieldset>

<br/>
<br/>
<br/>

<form onsubmit="return confirm('Do you really want to delete this applicant? There is no way to undo this, ' +
'and this will delete records of any positions that this applicant has been hired for, ' +
'as well as any documents associated with this applicant.');"
      th:action="@{/hiring/deleteapplicant}" method="post" >
    <input type="hidden" name="applicantId" th:value="${applicant.applicantId}">
    <input type="submit" value="Delete this applicant"/>
</form>

</body>
</html>