<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: hiringHeader"></nav>


<div th:if="${positionsList.size()}>0">
    <h1 th:text="|${applicant.firstName} has applied to the following open positions:|"></h1>

    <table>
        <tr>
            <th></th>
            <th>Position ID</th>
            <th>Position Title</th>
            <th>Max Salary</th>
            <th>Max Wage</th>
            <th>City</th>
            <th>State or Provence</th>
            <th>Employment Type</th>
            <th>Start Date</th>
        </tr>
        <tr th:each="position: ${positionsList}">

            <td></td>
            <td th:text = "${position.positionId}"></td>
            <td th:text = "${position.positionTitle}"></td>
            <td th:text = "${position.maxSalary}"></td>
            <td th:text = "${position.maxWage}"></td>
            <td th:text = "${position.city}"></td>
            <td th:text = "${position.stateOrProvence}"></td>
            <td th:text = "${position.employmentType}"></td>
            <td th:text = "${position.startDate}"></td>
        </tr>
    </table>
</div>

<h1 th:unless="${positionsList.size()}>0" th:text="|${applicant.firstName} has not applied to any positions that are currently open.|"></h1>

<form onsubmit="return confirm('Do you really want to delete this applicant? There is no way to undo this, and this will delete records of any positions that this applicant has been hired for.');"
      th:action="@{/hiring/deleteapplicant}" method="post" >
    <input type="hidden" name="applicantId" th:value="${applicant.applicantId}">
    <input type="submit" value="Delete this applicant"/>
</form>

</body>
</html>