<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Gabiri</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>

<body>

<nav th:fragment="hiringHeader" style="background-color:black;">
    <div class="navbar">
        <a th:href="@{/}">Home</a>
        <div class="subnav">
            <button class="subnavbtn"> Positions <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a th:href="@{/openpositions}">See Open Positions</a>
                <a th:href="@{/newopenposition}">Create a new Open Position</a>
                <a th:href="@{/filledpositions}">See Recently Filled Positions</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Applicants <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a th:href="@{/availableapplicants}">See Available Applicants</a>
                <a th:href="@{/newapplicant}">Enter a New Applicant</a>
            </div>
        </div>
        <a th:href="@{/registration/logout}" style="float:right;">Log Out</a>
    </div>
</nav>

</body>
</html>