<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Gabiri</title>
    <script th:src="@{/script.js}"></script>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>

<body>

<nav th:fragment="hiringHeader" style="background-color:black;">
    <div class="navbar">
        <a th:href="@{/hiring}">Home</a>
        <div class="subnav">
            <button class="subnavbtn"> Positions <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a th:href="@{/hiring/positions}">See Open Positions</a>
                <a th:href="@{/hiring/newopenposition}">Create a new Open Position</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn" th:href="@{/hiring/applicants}">Applicants <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a th:href="@{/hiring/applicants}">See Available Applicants</a>
                <a th:href="@{/hiring/newapplicant}">Enter a New Applicant</a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>